	<div class="logo_main">   
	  <%= image_tag("logo.png" , class: "style_image")%>
	</div>
	<div class="head_title">
	  <h1>FixIt</h1>
	</div>
	<div class="panel">
	  <p>New Question</p>
	  <div class="login">
	  <%= link_to 'Back', home_path %>    
	  </div>
	</div>
	  <% if current_user %>

	<div class="new_content">

	<%= form_for :question, url: questions_path do |f| %>
	  <% if @question.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
	    <ul>
	    <% @question.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	  <% end %>
	  <p>
	    <%= f.label :question %><br>
	    <%= f.text_area :question %>
	  </p>
	 
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>

	 </div>
	<% else %>
	<div class='login_content' >
	Login to continue
	</div>
	<% end %>