<div class="panel">
	<p>My Articles</p>
	<div class="login">
		<%= link_to 'Home', home_path %> |
<%= link_to 'Answer', edit_question_path(@question) %> 

	</div>

</div>
 <div class="show_article">
<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>
</div>

<h2>Answers</h2>
<% @question.answers.each do |anwer| %>
 
  <p>
    <b>Answer:</b>
    <%= answer.answer %>
  </p>
<% end %>
<h2>Answers</h2>

<h2>Add a answer:</h2>
<%= form_for([@question, @question.answers.build]) do |f| %>

  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_area :answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 
