<div class="panel">
	<p>My Articles</p>
	<div class="login">
		<%= link_to 'Home', home_path %> |

	</div>

</div>
 <div class="show_article">
<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>
</div>
<div class="answer">
<h2>Answers</h2>
<% @question.answers.each do |answer| %>
 
  <p>
    <b>Answer:</b>
    <%= answer.answer %> <br><br>Posted on 	
	<%= answer.created_at.to_date.iso8601%> by 
	<%= User.find(answer.user_id).email %>
<div class = "votes">
<%= render :partial => 'votes/form', :locals => {:answer => answer, :vote => answer.votes.build} %>
  </div></p>
<% end %>
  <% if current_user %>
<%= render :partial => 'answers/form', :locals => { :question => @question, :answer => @question.answers.build } %>
<% else %>
Login to answer
<% end %>
</div>




